:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* .section {
} */

/* Header */

header {
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
}

/* Header Logo */

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--iris);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-link-h {
  color: var(--navy-blue);
}

.logo-link-f {
  color: var(--cloud);
}

/* Header Menu */

.list-link {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-link:hover,
.list-link:focus {
  color: var(--ocean);
}

/* Header Address */

.list-address {
  color: var(--slate);
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-address:hover,
.list-address:focus {
  color: var(--ocean);
}

/* Studio Main */

.main-title {
  color: var(--white);
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.sect-title {
  color: var(--navy-blue);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.paragr {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Studio Main Section 1 */

.studio-sect-one {
  background-color: var(--navy-blue);
  padding: 188px 472px;
}

.main-button-index {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: none;
  background: var(--iris);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
}

.main-button-index:hover,
.main-button-index:focus {
  background: var(--ocean);
}

/* Studio Main Section 2 */

/* .studio-sect-two {
  
} */

/* Studio Main Section 3 */

/* .studio-sect-tree {

} */

/* Studio Main Section 4 */

.studio-sect-four {
  background-color: var(--cloud);
}

.list-sect-four {
  background-color: var(--white);
}

/* Portfolio Main Section */

/* Portfolio Main Buttons  */

.button-gallery-portfolio {
  display: flex;
  justify-content: center;
}

.button-list-portfolio:not(:last-child) {
  padding-right: 24px;
}

.button-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  height: 48px;
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
}

.button-portfolio:active {
  color: var(--white);
  background-color: var(--ocean);
}

/* Portfolio Main Gallery */

.gallery-portfolio {
  width: 1128px;
  margin: 0 auto;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;

  margin-top: -48px;
  margin-left: -24px;
}

.list-card-portfolio {
  background: var(--white);
  flex-basis: calc(100% / 3 - 24px);
  border: 1px solid var(--cornflower);

  margin-top: 48px;
  margin-left: 24px;
}

.content-portfolio {
  padding: 32px 16px;
}

.content-portfolio > .paragr {
  padding-top: 8px;
}

/* Footer */

footer {
  background-color: var(--navy-blue-modal);
  /* height: 310px; */
  padding: 100px 0 100px 156px;
}

footer > p {
  color: var(--cornflower);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  width: 264px;
}
